*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif;
	color: #555;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #ff8800;
	font-weight: 800;
	text-align: center;
}

hr{
	width: 150px;
	height: 2px;
	background-color: #ff8800;
	border: 0;
	margin-bottom: 80px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 60px 30px;
	}

}

section h3.title{
	color: #414a4f;
	text-transform: capitalize; 
	font: bold 32px 'Open Sans', sans-serif;
	margin-top: 50px;
	margin-bottom: 35px;
	text-align: center;
}

section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}

header h2{
	font-family: 'Quicksand', sans-serif;
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}



@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}

.main{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}

.main .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #2196F3;
	z-index: -1;
}

.main .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;
}

.main h1{
	font: bold 60px 'Open Sans', sans-serif;
	margin-bottom: 15px;
}

.main h3{
	font: normal 28px 'Open Sans', sans-serif;
	margin-bottom: 40px;
}

.main a.btn{
	margin: 20px;
	display: inline-block;
    	width: 200px;
   	height: 60px;
}


@media (max-width: 800px){

	.main{
		min-height: 600px;
	}

	.main h1{
		font-size: 48px;
	}

	.main h3{
		font-size: 24px;
	}


}

.facilities{
	background-color: #f7f7f7;
}

.facilities .grid li{
	padding: 50px 30px;
	flex-basis: 33%;
	text-align: center;
}

.facilities .grid li h4{
    color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}

.facilities .grid li p{
    margin: 0;
}

@media (max-width: 1000px){

	.facilities .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.facilities .grid li:last-child{
		margin-bottom: 00px;
	}

}


@media (max-width: 600px){

	.facilities .grid li{
		flex-basis: 100%;
	}

}
